html{
  font-size: 62.5%;
  height: 100%;
}

body{
  height: 100%;
  font-family: $f_ja;
  font-size: $f_size;
  color: $color;
}

#site_wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main{
  flex: 1;
  overflow: hidden;
}

img{
  max-width: 100%;
}

hr{
  margin: 0;
}

a{
  &,
  &:hover,
  &:visited,
  &:active{
    color: $color;
  }
}