.container{
  max-width: $contents_w;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid_padding;
  padding-right: $grid_padding;
}
.row{
  display: flex;
  margin-left: -$grid_padding;
  margin-right: -$grid_padding;
}

@for $i from 1 through $grid{
  $grid_w: 100 / $grid * $i * 1%;

  .col_#{$i}{
    width: $grid_w;
    padding-left: $grid_padding;
    padding-right: $grid_padding;
  }
  .col_#{$i}_sp{
    padding-left: $grid_padding;
    padding-right: $grid_padding;
    @include mqDoun(sp) {
      width: $grid_w;
    }
  }
  .col_#{$i}_tab{
    padding-left: $grid_padding;
    padding-right: $grid_padding;
    @include mqUp(sp) {
      width: $grid_w;
    }
    @include mqDoun(pc) {
      width: $grid_w;
    }
  }
  .col_#{$i}_pc{
    padding-left: $grid_padding;
    padding-right: $grid_padding;
    @include mqUp(pc) {
      width: $grid_w;
    }
  }
}

.en{
  font-family: $en_f_family;
}

.lead{
  line-height: $line_height;
  letter-spacing: $letter_spacing;
}
.sentence{
  line-height: $line_height;
  letter-spacing: $letter_spacing;
}

.btn{
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}