.pc{
  @include mqDown{
    display: none;
  }
}
.sp{
  @include mqUp{
    display: none;
  }
}

.ja{
  font-family: $f_ja;
}
.en{
  font-family: $f_en;
}

.container{
  max-width: $contents_w;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $content_padding;
  padding-right: $content_padding;
}

.title_1{
  line-height: $line_height;
  letter-spacing: $letter_spacing;
}

.p_1{
  line-height: $line_height;
  letter-spacing: $letter_spacing;
}